body, footer  {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f8f8f1;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    background-color:#FFFFFF;
}
.main-contain {
     padding: 10px 90px;
   
}
/*  my proffesion style  */
.profession-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 55px;
    color: #3465af;
    margin: 0 0 25px 0;

}
.devname {
    color:#000;
}

.devname:hover {
    color: black;
}
/* Center name style */
.myname { 
    color: #3465af;
    text-align: center;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
}

.my-text {
    display: grid;
    grid-row: initial;
    font-family: Montserrat;
    color: #000;
    font-style: oblique;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 24px; 
}

/* side bar section */
.aside-section {   
    background-color: #1E2939;
    padding: 10px; 
    width: 380px;
 }
.aside-title { 
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color:rgb(250, 246, 246);
    padding-left: 40px;
}
.photo {
    padding: 1px;
    border-radius: 15vh;
    object-fit: cover;
 }
/* contacts section css */
.contacts-section {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
}


.contacts-section-type {
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgb(252, 248, 248);
    padding: 1px;
    margin: 10px;

}
  
.contacts-link  {
  font-family: monospace;
  font-weight: bold;
  font-size: normal;
  line-height: 24px;    
  font-size: 14px; 
  color: rgb(154, 161, 170);
}


/* tech section css */
.tech-skill-section {
 padding: 10px; 
}

.tech-skill-item {
    color: red;
}
.tech-skill-text {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-weight: 24px;
    color: rgb(228, 220, 220);
}
.soft-section  {
   padding: 0 0 10px;
  }
.soft-skill-item {
    color: red;
}
.soft-skill-text { 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-weight: 24px;
    color: rgb(228, 220, 220);
}
/* Company*/ 
.spec-head {    
    font-weight: bold;
    color: #3465af;
}

.work-company {
    font-family: Montserrat;
    font-style: normal;
    font-style:inherit;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 27px;

}
.companyfreelance {
    font-weight: bold;
    font-style: oblique;
    color: blue;
}
.date {
    font-style: normal;
    color: rgb(0, 0, 0);
}

/*WordPresHTMLCCSS Worlds*/

/* project section */
.my-projects {
    display: flex;
    flex-direction:inherit;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
}
.my-projects-list {
   color: rgb(13, 27, 46);
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   line-height: 27px;
   margin: 5px;
}
.worlds-2-projects {
    color: #3465af;
}
.my-projects-title {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.words  { 
    font-weight: bold;
    color: #3465af;
}

 /*Educatiion*/
.education {
    display: flex;
    flex-direction: inherit;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight:bold;
    line-height: 27px;
    font-size: 18px;
}
.education1 {
    font-family: fantasy;
    font-size: 26px;
}
.certificate {
    text-align: start;
    font-family: Montserrat;
    font-weight: bold;
    font-style: bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: black;
    padding: 0 0 25px 25px;
}

